body {
    font-family: Arial, sans-serif;
    background-color: #c2c3f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(37, 37, 37);
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 2000px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #fcf4f4;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fcf4f4;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.score {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
